#home-projects {
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #787877;
  animation-name: fade-in;
  animation-duration: 3s;
}

.project-buttons {
  width: 70vw;
  height: 20vh;
  background-color: #38dcc8;
  color: white;
  border-color: white;
  border-style: solid;
  border-width: 7px;
  margin-left: 0px;
  font-size: 50px;
  font-family: "Monsterrat", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
}

@media(max-width: 780px){
  .project-buttons{
    font-size: 22px;
    height: 13vh;
  }

  #home-projects {
    min-height: 70vh;
    height: 70vh;
  }
}
