.skills-content{
    padding-top: 74px;
    background-image: url("./images/moss_trees_forest_113541_3840x2400.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    animation-name: fade-in;
    animation-duration: 3s;
}

.skills-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.skills-content-container > h1{
    color: white;
    height: 26vh;
    width: 48vw;
    box-sizing: border-box;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    letter-spacing: 22px;
    padding: 24px;
}

@media(max-width: 700px){
    .skills-content-container > h1{
        width: unset;
    }
}

.skills-content-container > p{
    color: white;
    width: 40vw;
    display: flex;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 40px;
    font-size: 22px;
}

.skills-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70vw;
}

.skills-container > div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 192px;
    margin: 0px 50px;
}

.skills-container img{
    /* width: calc(70vw - ((80px + 74px) * 3)); */
    max-width: 125px;
    max-height: 125px;
}

.skills-container img:hover{
    max-width: 150px;
    max-height: 150px;
}

.skills-container p{
    color: white;
    font-size: 22px;
}

@keyframes makeItBigger {
}